.footer {
    width: 375px;
    height: 117px;
    position: absolute;
    display: flex;
    align-items: center;

    bottom: 0px;

    background: #DFE6ED;
    border: 1px solid #9EADBA;
}

.footer>img {
    width: 48px;
    height: 72px;
    margin: 0 22px;
}

.text-inf {
    display: flex;
    flex-direction: column;
}

.text-inf>span {
    width: 169px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #293845;
}